{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<div class="page-header">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{ message }}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <ul>
    {% for post in name  %}
    <li>{{post.name}} | {{post.post_body}}</li>
    {% endfor %}
    </ul>

</div>

{{ wtf.quick_form(form) }}
{% endblock %}

